header {
    box-shadow: 0 0 5px;
    padding: 1em;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    background: #333;
    
    a {
        color: white; 
        text-decoration: none;
      }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      gap: 1em;
    }
  
    li {
      font-size: 1.3rem;
      color: inherit;
    }
  
    a.active {
      text-shadow: 0 0 10px;
      text-decoration: underline;
      color: aquamarine;
    }
  }
  
  
  
  main {
    width: min(70rem, 100% - 4rem);
    margin-inline: auto;
  }
  
  footer {
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    background: #333;
    color: #fff;
    padding: 20px;
  
    p {
      margin: 0;
    }
  
    .footer-links {
      display: flex;
      justify-content: space-between;
  
      a {
        color: #fff;
        text-decoration: none;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }